/* Add here all your css styles (customizations) */

#top{
    height: 90vh;
    background-color: #a5a5a5;
}

#navbar{
    height: 10vh;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
.wrapper .buttons {
  margin-top: 30px;
}
.wrapper .buttons .button {
  margin: 25px auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  cursor: pointer;
}
.wrapper .buttons .button-fb {
  background-color: #305097;
  color: #ffe;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 130%;
  line-height: 50px;
  box-shadow: rgba(16, 25, 36, 0.65098) 3px 3px 8px 0px;
  -webkit-box-shadow: rgba(16, 25, 36, 0.65098) 3px 3px 8px 0px;
  -moz-box-shadow: rgba(16, 25, 36, 0.65098) 3px 3px 8px 0px;
}
.wrapper .buttons .button-fb:hover {
  width: 150px;
}
.wrapper .buttons .button-fb:hover i:after {
  margin-left: 10px;
  content: "share";
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
#messenger{
    position: fixed;
    bottom: 0px;
    right: 10px;
    height: 30px
    z-index:100;
}

#messenger.selected {
    background-color:#1F75CC;
    color:white;
}

#messenger_pop {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin-top: 15px;
    position:fixed;
    width:394px;
    z-index:50;
    padding: 25px 25px 20px;
    bottom: 30px;
    right: 10px;
}
